{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title titre %}

{% block boutonsActions %}
{% if saisie %}<button class="boutonsActions-info" title="Pour vous faciliter la saisie des touches raccourci existent : CTRL + ENTRER = enregistre la saisie en cours, Entrée dans un datepicker = passe la saisie au champs suivant, ..."></button>{% endif %}
{% endblock boutonsActions %} 

{% block content %}
<table id="liste"></table>
<div id="pagination"></div>
{% endblock %}

{% block javascripts %} 
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sipleccd/css/ui.jqgrid.css') }}" media="all">
<script src="{{ asset('bundles/sipleccd/js/grid.locale-fr.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sipleccd/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
<script language="javascript">
function pickdates(id){
	parametres ={dateFormat:"dd/mm/yy",
			    onClose: function(dateText, inst) { 
				    // Selectionne le champs suivant pour aider à la saisie
			    	$(this).parent().next().children('input').focus();
			    }
			};
	// Applique le date picker pour les champs date
	$("#liste input[id$='dateReceptionSiplec']").datepicker(parametres);
	$("#"+id+"_dateEnvoi","#liste").datepicker(parametres);
	$("#"+id+"_dateReception","#liste").datepicker(parametres);

	// Applique le format num de dossier pour ce champs
	$("#"+id+"_numDossier","#liste").formatter(format_num_dossier);
	$("#"+id+"_numEnvoi","#liste").formatter(format_num_envoi);
}
function reloadGrid(){
	// permet de recharger la liste
	$('#liste').trigger('reloadGrid');
}
function checkNumDossier(value, colname) {
	patt = new RegExp('[0-9]{4}-[0-9]{2}-[0-9]{6}');
	if (patt.test(value)) 
	   return [true,""];
	else 
	   return [false, colname+": Champ obligatoire au format 2014-07-123456"];
}
function checkNumEnvoi(value, colname) {
	patt = new RegExp('[0-9][A-Za-z] [0-9]{2} [0-9]{3} [0-9]{4} [0-9]');
	if (patt.test(value)) 
	   return [true,""];
	else 
	   return [false, colname+": Champ obligatoire au format 1A 23 456 7891 2"];
}
$(function() {
	$('.boutonsActions-info').button({icons: {primary: "ui-icon-info"}});
	$('.boutonsActions-info').tooltip();
	$('.boutonsActions-help').button({icons: {primary: "ui-icon-help"}}).tooltip();
	var lastsel;
	$("#liste").jqGrid({
	    caption:'{{ titre }}',
	   	url:'{{ path('courrier_ajax', {'saisie':saisieUrl}) }}',
		editurl: "{{ path('courrier_ajax_update') }}",
		datatype: "json",
		height: 480,
		autowidth:true,	
	   	rowList:[20,50,100],
	   	pager: '#pagination',
	   	sortname: 'id',
	    sortorder: "desc",
	    viewrecords: true,
	    successfunc: function( response ) {
			alert('oui');
	    },
		colNames:[
			'N° dossier',
			'Date récep. Siplec',
			'Client',
			'Type lettre',
			'Type envoi',
			'Commentaire',
			'Date envoi',
			'N° envoi',
			'Statut',
			'Date réception'],
	   	colModel:[
	   		{name:'numDossier',index:'numDossier', width:110, align:"center", editable:true, editoptions:{defaultValue:$.datepicker.formatDate('yy-mm-', new Date())}, editrules: {custom:true, custom_func:checkNumDossier}},
	   		{name:'dateReceptionSiplec',index:'dateReceptionSiplec', width:80, align:"center", sorttype:"date", editable:true, editoptions:{defaultValue:$.datepicker.formatDate('dd/mm/yy', new Date())}},
	   		{name:'client',index:'client', editable:true, editrules: { required: true}},
	   		{name:'typeLettre',index:'typeLettre', width:80, align:"center", editable:true,edittype:"select",editoptions:{value:"Suivi:Suivi;A/R:A/R"}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;Suivi:Suivi;A/R:A/R" }},	
	   		{name:'typeEnvoi',index:'typeEnvoi', width:90, align:"center", editable:true,edittype:"select",editoptions:{value:"Nouveau:Nouveau;Complément:Complément;Refus automatique:Refus auto."}, stype: 'select', searchoptions:{ sopt:['eq'], value: ":;Nouveau:Nouveau;Complément:Complément;Refus automatique:Refus auto." }},		
	   		{name:'commentaireSiplec',index:'commentaireSiplec', sortable:false, editable:true,edittype:"textarea", editoptions:{rows:"2",cols:"24"}},		
	   		{name:'dateEnvoi',index:'dateEnvoi', width:80, align:"center", sorttype:"date", editable:true, editoptions:{defaultValue:$.datepicker.formatDate('dd/mm/yy', new Date())}},
	   		{name:'numEnvoi',index:'numEnvoi', width:110, align:"center", editable:true, editrules: {custom:true, custom_func:checkNumEnvoi}},
	   		{name:'statut',index:'statut', width:80, align:"center", stype: 'select', searchoptions:{sopt:['eq'], value: ":;Reçu:Reçu;Envoyé:Envoyé" }},	
	   		{name:'dateReception',index:'dateReception', width:100, align:"center", sorttype:"date"}		
	   	],
		onSelectRow: function(id){
			if(id && id!==lastsel){
				$("#liste").jqGrid('saveRow', lastsel, 
				{ 
				    successfunc: function( response ) {
						$('#liste').jqGrid('restoreRow',lastsel);
				        return true; 
				    }
				});
				if(id.substring(0,2) == 'jq'){
					pickdates(id);
				}else{
					$('#liste').jqGrid('editRow',id,true, pickdates);
				}
				lastsel=id;
			}
		}
	});
	$("#liste").jqGrid('navGrid','#pagination',{edit:false,add:false,del:false,search:false});
	$("#liste").jqGrid('inlineNav',"#pagination",{edit:false,add:{% if saisie == false %}false{% else %}true{% endif %},del:false,search:false});
	{% if saisie == false %}
	$("#liste").filterToolbar();
	$("#liste").navGrid('#pagination').navButtonAdd('#pagination',{
		   caption:"Export des courriers non reconnus", 
		   buttonicon:"ui-icon-document", 
		   onClickButton: function(){ 
			   location.href = '{{ path('courrier_export_non_reconnus') }}';
		   }, 
		   position:"last"
		});
	{% endif %}
	$(document).keypress(function(e) {
		if($( "#liste" ).find("input[id$='_numDossier']").length > 0){
			// Si suppérieur à 0 alors une ligne est en edition et du coup active l'ecoute de la touche entrée pour valider =)
			  if((e.keyCode == 13)||e.ctrlKey) {
			    // Si on detecte la touche entrée alors valide le formulaire
				$('#liste_ilsave div span.ui-icon-disk').click();
			  };
		  }
		});
});
</script>
{% endblock javascripts %}