{% extends "SiplecCdBundle::layout.html.twig" %}

{% block title %}Réexpédition{% endblock title %}

{% block content %}
    <h1>Réexpédition</h1>
    {{ form(form) }}
	<table id="liste"></table>
	<div id="pagination"></div>
{% endblock content %}
    
{% block javascripts %} 
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sipleccd/css/ui.jqgrid.css') }}" media="all">
<script src="{{ asset('bundles/sipleccd/js/grid.locale-fr.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sipleccd/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
<script language="javascript">
$(function() {
	$('#siplec_cdbundle_reexpedition_numDossier').formatter(format_num_dossier);
	$('#siplec_cdbundle_reexpedition_numDossier').focus();
	jQuery("#liste").jqGrid({
	   	caption: "Liste des dossiers à réexpédier",
	   	url:'{{ path('reexpedition_ajax') }}',
	   	pager: '#pagination',
		datatype: "json",
		height: 480,
		autowidth:true,	
	   	rowList:[20,50,100],
	    viewrecords: true,
	   	sortname: 'id',
	    sortorder: "desc",
	   	colNames:['N° RECALL',
	   		   	'N° dossier',
	  		   	'Date de réexpédition'],
	   	colModel:[
	   		{name:'refRecall',index:'refRecall', align:"center"},
	   		{name:'numDossier',index:'numDossier', align:"center"},
	   		{name:'dateReceptionAdequation',index:'dateReceptionAdequation', align:"center", width:"200", stype:'text', search:false },	
	   	]
	});
	// filtres de recherche
	jQuery("#liste").filterToolbar();
});
</script>
{% endblock javascripts %}