{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title 'Modification du '~dossier %}

{% block boutonsActions %}
<a href="{{ path('dossier') }}"><button class="boutonsActions-retour">Retour à la liste</button></a>
<a href="{{ path('dossier_show', { 'id': dossier.id }) }}"><button class="boutonsActions-show">Visualisation</button></a>
{% if is_granted('ROLE_GEST_OPERATEUR') %}
	<a href="{{ path('dossier_delete', { 'id': dossier.id }) }}" onclick="return confirm('Voulez vous vraiment supprimer le {{ dossier }} ?');"><button class="boutonsActions-delete">Suppression</button></a>
{% endif %}
{% endblock boutonsActions %}

{% block javascripts %} 
<script language="javascript">
	$('#siplec_cdbundle_dossier_numDossier').formatter(format_num_dossier);
	$('#siplec_cdbundle_dossier_numDossier').focus();
	// Mise en forme des boutons
	$( ".boutonsActions-retour" ).button({icons: {primary: "ui-icon-calculator"}});
	$( ".boutonsActions-show" ).button({icons: {primary: "ui-icon-search"}});
	$( ".boutonsActions-delete" ).button({icons: {primary: "ui-icon-trash"}});
</script>
{% endblock javascripts %}

{% block content %}
<h1>Modification du {{ dossier }}</h1>
{{ form(edit_form) }}
{% endblock %}