{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title %}Refus automatique{% endblock title %}

{% block content %}
    <h1>Import du fichier contenant automatiques</h1>
	{% if formulaireImportValide is same as('import') and pasErreur %}
	<p>Vous pouvez maintenant télécharger l'<a href="{{ path('refus_auto_export_a_traiter') }}" title="">export des refus automatiques à traiter</a>.</p>
    {% endif %}
    {{ form(form) }}
    <h1>Refus automatiques</h1>
    {{ form(formRefusAuto) }}
	<table id="liste"></table>
	<div id="pagination"></div>
{% endblock content %}
    
{% block javascripts %} 
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/sipleccd/css/ui.jqgrid.css') }}" media="all">
<script src="{{ asset('bundles/sipleccd/js/grid.locale-fr.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/sipleccd/js/jquery.jqGrid.min.js') }}" type="text/javascript"></script>
<script language="javascript">
$(function() {
	$('#siplec_cdbundle_refus_auto_numDossier').formatter(format_num_dossier);
	$('#siplec_cdbundle_refus_auto_numDossier').focus();
	datePick = function(elem)
	{
	   jQuery(elem).datepicker({dateFormat:"dd/mm/yy",
		    onClose: function(dateText, inst) { 
			    // Selectionne le champs suivant pour aider à la saisie
		    	$(this).parent().next().children('input').focus();
		    }});
	}
	var lastsel;
	jQuery("#liste").jqGrid({
	   	caption: "Liste des dossiers à refuser",
	   	url:'{{ path('refus_auto_ajax') }}',
	   	pager: '#pagination',
		datatype: "json",
		height: 480,
		autowidth:true,	
	   	rowList:[20,50,100],
	    viewrecords: true,
	   	sortname: 'id',
	    sortorder: "desc",
	   	colNames:['N° dossier',
	  		   	'Statut',
	  		   	'Date de refus'],
	   	colModel:[
	   		{name:'numDossier',index:'numDossier', align:"center"},
	   		{name:'statut',index:'statut', align:"center", sorttype:"int", search:false},
	   		{name:'dateRefus',index:'dateRefus', align:"center", width:"200", stype:'text', search:false },	
	   	]
	});
	// filtres de recherche
	jQuery("#liste").filterToolbar();
	$("#liste").navGrid('#pagination',{edit:false,add:false,del:false,search:false}).navButtonAdd('#pagination',{
		   caption:"Export des refus automatiques à traiter", 
		   buttonicon:"ui-icon-document", 
		   onClickButton: function(){ 
			   location.href = '{{ path('refus_auto_export_a_traiter') }}';
		   }, 
		   position:"last"
		});
});
</script>
{% endblock javascripts %}